*.java linguist-language=Java

/bin/** !linguist-vendored
/out/** !linguist-vendored
/lib/** !linguist-vendored
/target/** !linguist-vendored
/build/** !linguist-vendored

*.xml linguist-language=XML
*.gradle linguist-language=Groovy
*.properties linguist-language=INI
*.json linguist-language=JSON
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
